::-webkit-scrollbar {
  width: 8px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
  background-color:  hsl(0, 0%, 48%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body{
    background :linear-gradient(351deg,#4158d0,#d62148);
}